<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="testNG.listeners.TransformerListener"></listener>
	</listeners>
	
  <test name="TestingFailedTestCases">
    <classes>
      <class name="testNG.listeners.RetryTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
